body {
    margin: 0;
    padding: 0;
    background-color: #15202b;
    /* Dark bluish-green background */
    font-family: 'Segoe Script', bold;
}

.header {
    text-align: center;
    margin-top: 50px;
}

.neon-text {
    font-size: 48px;
    color: #00e6e6;
    /* Pixelated neon bluish font */
    text-shadow: 0 0 10px #09acac, 0 0 20px #09acac, 0 0 30px #09acac;
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    max-width: 1000px;
    width: 30vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* flex-wrap: wrap; */
}

.sponsor-logo {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 50px;
    margin-bottom: 15px;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
    max-width: 300px;
    margin-right: 3rem;
}

.image1:hover {
    transform: scale(1.1); 
    cursor: pointer; 
}

.image2 {
    position: absolute;
    padding-top: 3rem;
    top: 50%;
    left: 40%;
    max-width: 220px;
    transform: translate(-50%, -50%);
    
}

.dot-pattern {
    position: relative; 
    top: 20px; 
    left: 0; 
    margin-left: 50px; 
    margin-bottom: 15px; 
}
